# Code Precheck
black==24.4.2
flake8==7.0.0
isort==5.13.2
mypy==1.10.1
pytest==8.2.2
pre-commit==3.7.1; python_version >= '3.9'
pre-commit==2.20.0; python_version < '3.9'

# Google Cloud
google-cloud-storage==2.16.0

# AWS
boto3~=1.35.23
boto3-stubs[essential]~=1.17.112

# Data Processing
pydantic~=2.7.1
pydantic-settings==2.2.1
pandas~=2.2.2
pandas-stubs
db-dtypes==1.2.0
retry==0.9.2
types-retry
smart-open==6.4.0
requests~=2.31.0
types-requests~=2.25.4

# SQL Processing
jinja2~=3.1.4
more-itertools~=10.3.0

pytz~=2024.1
cloudevents~=1.11.0
Flask~=3.0.3

functions-framework~=3.8.2
google~=3.0.0
protobuf~=5.29.4

snowflake-connector-python
ruamel.yaml
